#login-container {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 4px;
}

#login-btn {
    -fx-background-color:  "#f49146";
}
#login-btn:hover {
    -fx-background-color:  "#ffaf49";
}

.menu-item{
    -fx-background-color: transparent;
}
.selected {
    -fx-background-color: black !important;
    -fx-background-radius: 8px;
    -fx-text-fill: white;
}
