#login-container {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 4px;
}

#login-btn {
    -fx-background-color:  "#f49146";
}
#login-btn:hover {
    -fx-background-color:  "#ffaf49";
}
.menu-item:hover {
    -fx-background-color: "#cdd3e2";
    -fx-background-radius: 8px;
}
.selected {
    -fx-background-color: black;
    -fx-background-radius: 8px;
    -fx-text-fill: white;
}

.bento-container {
    -fx-background-color: white;
    -fx-background-radius: 8px;
}

.primaryBtn{
    -fx-background-radius: 10px;
    -fx-background-color: black;
    -fx-text-fill: white;
}

.primaryBtn:hover{
    -fx-background-color: "#4d5056";
}

.secondaryBtn{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;

}

.secondaryBtn:hover{
    -fx-background-color: "#cdd3e2";

}